* {
    margin: 0;
}

body {
    margin: 0;
    background-color: khaki;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 10rem;

}